#=============================================================#
# This is a Ignore file for Git (what should git will ignore)
#=============================================================#

.vscode/
.vs/
